# confirmo-notification
CONFIRMO_NOTIFICATION_KAFKA_BROKERS=
CONFIRMO_NOTIFICATION_KAFKA_CONSUMER_TOPICS=
CONFIRMO_NOTIFICATION_SMTP_PASSWORD=
CONFIRMO_NOTIFICATION_SMTP_USERNAME=
CONFIRMO_NOTIFICATION_SMTP_FROM=
CONFIRMO_NOTIFICATION_KAFKA_CONSUMER_GROUP_ID=

# confirmo-graphql
CONFIRMO_GRAPHQL_SERVER_PORT=
CONFIRMO_GRAPHQL_AUTH_CONNNECTION_URL=
CONFIRMO_GRAPHQL_DATABASE_URL=
CONFIRMO_GRAPHQL_POSTGRES_USER=
CONFIRMO_GRAPHQL_POSTGRES_PASSWORD=
CONFIRMO_GRAPHQL_POSTGRES_DB=
CONFIRMO_GRAPHQL_KAFKA_BROKERS=
CONFIRMO_GRAPHQL_KAFKA_CONSUMER_GROUP_ID=
CONFIRMO_GRAPHQL_KAFKA_CONSUMER_TOPICS=

# confirmo-auth
CONFIRMO_AUTH_DATABASE_URL=
CONFIRMO_AUTH_POSTGRES_USER=
CONFIRMO_AUTH_POSTGRES_PASSWORD=
CONFIRMO_AUTH_POSTGRES_DB=
CONFIRMO_AUTH_SERVER_PORT=
CONFIRMO_AUTH_HASH_SECRET=
CONFIRMO_AUTH_KAFKA_BROKERS=
CONFIRMO_AUTH_KAFKA_TOPIC_AUTH_EMAIL_VERIFICATION=
CONFIRMO_AUTH_KAFKA_TOPIC_AUTH_EMAIL_VERIFIED=